/* Error: Undefined mixin.
 *    ,
 * 39 | /       @include media("tablet") {
 * 40 | |         ul {
 * 41 | |           display: flex;
 * 42 | |         }
 * 43 | \       }
 *    '
 *   src/scss/stylesheet.scss 39:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 39 \2502  \250c        @include media("tablet") {\a 40 \2502  \2502          ul {\a 41 \2502  \2502            display: flex;\a 42 \2502  \2502          }\a 43 \2502  \2514        }\a    \2575 \a   src/scss/stylesheet.scss 39:7  root stylesheet';
}
